<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ROOT</key>
	<array>
		<dict>
			<key>description</key>
			<string>Dummy1</string>
			<key>image</key>
			<string>1.JPG</string>
			<key>logo</key>
			<string>logo1.JPG</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Dummy2</string>
			<key>image</key>
			<string>2.JPG</string>
			<key>logo</key>
			<string>logo2.JPG</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Dummy3</string>
			<key>image</key>
			<string>3.JPG</string>
			<key>logo</key>
			<string>logo3.JPG</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Dummy4</string>
			<key>image</key>
			<string>4.JPG</string>
			<key>logo</key>
			<string>logo4.JPG</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Dummy5</string>
			<key>image</key>
			<string>5.JPG</string>
			<key>logo</key>
			<string>logo5.JPG</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Dummy6</string>
			<key>image</key>
			<string>6.JPG</string>
			<key>logo</key>
			<string>logo6.JPG</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Dummy7</string>
			<key>image</key>
			<string>7.JPG</string>
			<key>logo</key>
			<string>logo7.JPG</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Dummy8</string>
			<key>image</key>
			<string>8.JPG</string>
			<key>logo</key>
			<string>logo8.JPG</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Dummy9</string>
			<key>image</key>
			<string>9.JPG</string>
			<key>logo</key>
			<string>logo9.JPG</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Dummy10</string>
			<key>image</key>
			<string>10.JPG</string>
			<key>logo</key>
			<string>logo10.JPG</string>
		</dict>
	</array>
</dict>
</plist>
